{# @var elements \PureFeedWidget\Entity\Person[] #}
<p>
    This is a {{ name }} template.<br />
    Researchers: {{ elements|length }}
</p>


{% for element in elements %}
    <div class="pure_element person">
        <h3>{{ element.fullName }}</h3>
        <span>({{ element.uuid }})</span>
    </div>
{% endfor %}